:root {
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
    font-family: "Roboto", "DIN Pro", sans-serif;
    text-transform: none;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #fff8dc !important;
    text-decoration: inherit;
}
a:hover {
    color: #fff8dc !important;
}

.form-control:focus {
    border-color: #e0ac00 !important; /* Stronger yellow tone for visibility */
    box-shadow: 0 0 0 0.06rem #e0ac00 !important; /* Soft yellow glow */
}

/* Remove the flex centering so Bootstrap can handle layout */
/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
*/
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Optional: reset any leftover centering on root */
/*
#root {
  text-align: left;
}
*/

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}
